* {
    box-sizing: border-box;
    font-family: 'Boogaloo', cursive;
    color: black;
}

body {
    height: 100vh;
    background: blanchedalmond;
}

.title{
    text-align: center;
}

h1 {
    font-size: 5rem;
    background: linear-gradient(90deg, rgba(28,42,150,1) 0%, rgba(253,29,29,1) 60%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.board { 
    width: 600px;
    height: 600px;
    margin: auto;
    /* set board position to center */
    display: flex;
    flex-flow: row wrap;
    /*apply a 3D effect*/
    perspective: 1000px; 
}

.memory-card {
    width: 130px;
    height: 130px;
    margin: 10px;
    position: relative;
    /* transform: scale(1); */ 
    transform-style: preserve-3d;
    transition: transform .5s;

}

/*click effect*/
.memory-card:active {
    transform: scale(0.95);
    transition: transform .2s;
}

/*flip card 180deg */
.memory-card.flip {
    transform: rotateY(180deg);
}

/*.back-face is where the pictures are */
.back-face {
    object-fit: contain;
    background-color: #FFFFFF;
    transform: rotateY(180deg);
    border: 1px solid black;
}
 
.front-face {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background: linear-gradient(to bottom right, darkblue, blue, darkblue)
}

.back-face,
.front-face {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    position: absolute;
}

.front-face:hover {
    transform: scale(1.05);
}

/* replay button */
.reset {
    position: absolute;
    margin: auto;
    top:0; bottom: 0; left: 0; right:0;
    z-index: 1;
    padding: 12px 24px;
    text-align: center;
    height: 100px;
    width: 150px;
    background: linear-gradient(90deg, rgba(28,42,150,1) 0%, rgba(253,29,29,1) 60%, rgba(252,176,69,1) 100%);
    font-size: 2rem;
    border-radius: 15px;
    outline: none;
    color:white;
}

.reset:hover{
    transform: scale(1.05);
    cursor: pointer;
    background: linear-gradient(90deg, rgba(30,41,121,1) 0%, rgba(191,32,32,1) 60%, rgba(226,158,64,1) 100%);
}

.reset:active {
    background: linear-gradient(90deg, rgba(30,41,121,1) 0%, rgba(191,32,32,1) 60%, rgba(226,158,64,1) 100%);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
