* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(https://pixabay.com/sv/photos/musikalisk-bakgrund-2842924/);
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Boogaloo', cursive;
    color: black;
    text-align: center;
    font-size: 5rem;
    border-radius: 10rem;
}

.board { 
    width: 600px;
    height: 600px;
    margin: auto;
    /* set board position to center */
    display: flex;
    flex-flow: row wrap;
    /*apply a 3D effect*/
    perspective: 1000px;
}

.memory-card {
    width: 130px;
    height: 130px;
    margin: 10px;
    position: relative;
    /* transform: scale(1); */ 
    transform-style: preserve-3d;
    transition: transform .5s;

}

/*click effect*/
.memory-card:active {
    transform: scale(0.95);
    transition: transform .2s;
}

/*flip card 180deg */
.memory-card.flip {
    transform: rotateY(180deg);
}

/*back is where the note values are*/
.back-face {
    object-fit: contain;
    background-color: #FFFFFF;
    transform: rotateY(180deg);
    border: 1px solid black;
}
 
.front-face {
    background: radial-gradient( blue, darkblue, darkblue)
}

.back-face,
.front-face {
    width: 130px;
    height: 130px;
    backface-visibility: hidden;
    border-radius: 3px;
    position: absolute;
}

/*make an effect that you can click the card*/
.front-face:hover {
    transform: scale(1.05);
}
